@media (max-width: 1024px) {
  .content {
    .content-gallery {
      margin-right: 0;
    }
  }
}

@media (max-width: 930px) {
  .content {
    flex-direction: column-reverse;
    .content-description {
      margin-top: 40px;
      text-align: center;
      .content-description__section-list {
        justify-content: center;
      }
    }
  }
}

@media (max-width: 760px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .footer-logo {
      margin-bottom: 30px;
    }
    .footer-group {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 530px) {
  .content {
    .content-description {
      .content-description__itog {
        flex-direction: column;
        .content-description__itog-cost {
          margin-right: 0;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .header {
    .header-logo {
      width: 150px;
    }
  }
}

@media (max-width: 420px) {
  .content {
    .content-gallery {
      .content-gallery__photo {
        height: 56px;
      }
    }
  }
}

@media (max-width: 380px) {
  .content {
    .content-gallery {
      .content-gallery__photo {
        height: 50px;
      }
    }
  }
}

@media (max-width: 350px) {
  .content {
    .content-gallery {
      .content-gallery__photo-main {
        height: 400px;
      }
      .content-gallery__photo {
        height: 45px;
      }
    }
  }
}

@media (max-width: 330px) {
  .header {
    .header-logo {
      width: 120px;
    }
  }
  .content {
    .content-gallery {
      column-gap: 20px;
      .content-gallery__photo-main {
        height: 350px;
      }
      .content-gallery__photo {
        height: 40px;
      }
    }
  }
}
